body {
    padding: 2rem;
}
div {
    padding-block-end: 1rem;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
div > label {
    display: flex; 
}

#root {
    margin: 0 auto;
    background: #fff3ec;
}

input {
    padding: 1rem;
    /* border: 1px solid #2962FF; */;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
}

input.error-input:hover,
input.default:hover {
    border-color: #333333;
}
input.default:focus {
    border-color: #2962FF;
}
input.error-input:focus,
input.error-input {
    border-color: #D32F2F;  
}
.disabled{
    background-color: #F2F2F2;
}

.helperText {
    color:#D32F2F;
}
input::placeholder {
    padding-inline-start: 1.5rem;
}
.startIcon {
    background-image: url("./assets/phone.svg");
    background-position: 10px;
    background-repeat: no-repeat;
    width: 20px;
    display: block;
}
.endIcon {
    background-image: url("./assets/padlock.svg");
    background-position: 10rem;
    background-repeat: no-repeat;
    width: 20px;
    display: block;
}

.sm {
    width: 200px;
    height: 40px;
}

.md {
  width: 200px;
  height: 56px;
}

.fullWidth {
    /* position: absolute;   */
    width: 700px;
    height: 56px;
}

.multiline {
    width: 200px;
    height: 150px;
}